PORT=5004
MONGO_URI=mongodb+srv://ashith232_db_user:yEa9KVYGklV7gYuI@cluster0.vdhtkv3.mongodb.net/?appName=Cluster0
MONGO_DB=payment_db
KAFKA_BROKERS=kafka:9092
PAYMENT_EVENTS_TOPIC=payment.events
BOOKING_EVENTS_TOPIC=booking.events
PAYMENT_SAGA_GROUP_ID=payment-saga-group
PAYMENT_WEBHOOK_SECRET=

