PORT=5005
MONGO_URI=mongodb+srv://ashith232_db_user:yEa9KVYGklV7gYuI@cluster0.vdhtkv3.mongodb.net/?appName=Cluster0
MONGO_DB=notification_db
KAFKA_BROKERS=kafka:9092
KAFKA_GROUP_ID=notification-service-group
BOOKING_EVENTS_TOPIC=booking.events
PAYMENT_EVENTS_TOPIC=payment.events

